{% extends "base.html" %}
{% load mezzanine_tags keyword_tags verbose_names %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
	<h2>Programação</h2>
	
	<table class="table table-striped">
		{% for programacao in page.programacaopage.programacao_set.all %}
		    {% if forloop.first %}
            <tr>
				<th>{% get_verbose_name programacao "tipo" %}</th>
				<th>{% get_verbose_name programacao "inicio" %}</th>
				<th>{% get_verbose_name programacao "termino" %}</th>
				<th>{% get_verbose_name programacao "titulo" %}</th>
				<th>{% get_verbose_name programacao "palestrante" %}</th>
				<th>{% get_verbose_name programacao "sala" %}</th>
			</tr>
            {% endif %}
			<tr>
				<td>{{ programacao.get_tipo_display }}</td>
				<td>{{ programacao.getInicio }}</td>
 				<td>{{ programacao.getTermino }}</td>
				<td>{{ programacao.getTitulo }}</td>
				<td>{{ programacao.getPalestrante }}</td>
                <td>{{ programacao.sala }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}


