body {
	text-align: center;
}

#page {
	width: 960px;
	text-align: left;
	margin: 16px auto 28px auto;
	background-color: #8C8C8C;
}

#sidebar {
	float: left;
	width: 250px;
	border: 1px solid #FF8888;
}

#content {
	float: left;
	width: 650px;
	border: 1px solid #FF8888;
	padding: 16px;
}
