{% load i18n future mezzanine_tags accounts_tags staticfiles %}

{% if request.user.is_authenticated %}
	<h3>{{ request.user.get_profile }}</h3>
	
	<p>Estará Presente: {{request.user.get_profile.get_estara_presente_display}}</p>

	<p>
		<a href="{% url "profile_update" %}" class="btn btn-small btn-account">Inscrição</a>
		<a href="{% url "logout" %}?next={{ request.path }}" class="btn btn-small btn-danger btn-account">Sair</a>
	</p>
{% else %}
	<h3>Inscreva-se</h3>
	
	<p>
		<a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img title="Google" src="{% static "img/google.png" %}"></a>
		<a href="{% url 'socialauth_begin' 'facebook' %}"><img title="Facebook" src="{% static "img/facebook.png" %}"></a>
		<a href="{% url 'socialauth_begin' 'twitter' %}"><img title="Twitter" src="{% static "img/twitter.png" %}"></a>
	</p>
	<p>
	    <a href="{% url "login" %}?next={{ request.path }}" class="btn btn-small btn-account">Entrar</a>
	    {% trans "or" %}
	    <a href="{% url "signup" %}?next={{ request.path }}" class="btn btn-small btn-account">Inscrição</a>
    </p>
{% endif %}
